= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  - fieldcontain do
    = f.label :name
    = f.text_field :name

  - fieldcontain do
    = f.label :recipe_type
    = f.select :recipe_type, options_for_select(recipe_type_options, @recipe.recipe_type)
  - fieldcontain do
    = f.label :servings
    = f.number_field :servings
  - fieldcontain do
    = f.label :prep_time
    = f.number_field :prep_time
  - fieldcontain do
    = f.label :cook_time
    = f.number_field :cook_time
  - fieldcontain do
    = f.label :rating
    = f.number_field :rating
  - fieldcontain do
    = f.label :instructions
    = f.text_area :instructions

  = fields_for :tags do |t|
    - fieldcontain do
      = label_tag :tags
      = text_field_tag :tags, @recipe.tags.map {|t| t.name }.join(", ")

  -#= link_to "Edit ingredients", recipe_ingredients_path(@recipe) if @recipe.id
  - if @meal
    = hidden_field_tag :meal_id, @meal.id

  -# TODO Add this to screen
  -#- @recipe.ingredients.each do |i|
    -#= fields_for "ingredients[]", i do |ifm|
      -#.field
        -#= ifm.collection_select :item_id, Food.all, :id, :name, :prompt => "Select an ingredient"
        -#= ifm.label :quantity
        -#= ifm.text_field :quantity



  .actions
    = f.submit 'Save'
