- content_for :header do
  = link_to "Back", "", "data-rel" => "back", "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = "Editing #{@recipe.name}"

= render 'form'


- content_for :footer do
  %a{:onclick => %(document.forms["edit_recipe_#{@recipe.id}"].submit();), "data-icon" => "home", "data-role" =>"button",  :class => "ui-btn-right"} Save
