- content_for :header do
  = link_to "Back", "", "data-rel" => "back", "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @recipe.name
  = link_to "Edit", edit_recipe_path(@recipe), "data-icon" => "arrow-r", "data-role" =>"button", :class => "ui-btn-right"

%p#notice= notice

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li
    %p
      %b Recipe type:
      = @recipe.recipe_type
    %p
      %b Servings:
      = @recipe.servings
    %p
      %b Calories/Serving:
      = @recipe.single_serving
    %p
      %b Prep time:
      = @recipe.prep_time
    %p
      %b Cook time:
      = @recipe.cook_time
    %p
      %b Rating:
      - @recipe.rating.times do
        &#9733;


%ul{"data-role" => "listview", "data-inset" => "true"}
  %li{"data-role" => "list-divider"}
    %b Ingredients
  - @recipe.ingredients.each do |i|
    %li
      = link_to i.name, edit_recipe_ingredient_path(@recipe, i)
      %label{:class => "ui-li-count"}
        = "#{i.quantity} #{i.item.measurement_unit}"

  %li{"data-icon" => "plus"}
    = link_to "Add ingredient", new_recipe_ingredient_path(@recipe)

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li{"data-role" => "list-divider"}
    %b Tags:
  %li
    = @recipe.tags.map {|t| t.name }.join(", ")

%h3 Instructions
= markdown @recipe.instructions


= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
