- content_for :header do
  = link_to "Back", @meal ? meal_path(@meal) : filter_recipes_path(:recipe_type => @recipe.recipe_type), "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @recipe.name
  = link_to "Edit", edit_recipe_path(@recipe, :meal_id => @meal.andand.id), "data-icon" => "arrow-r", "data-role" =>"button", :class => "ui-btn-right"

- if notice
  #notice.ui-bar.ui-bar-e
    = notice

- content_for :top do
  %div.ui-bar.ui-bar-b{:style => 'text-align: center;'}
    %div.ui-grid-b
      %div.ui-block-a
        = "Prep: #{@recipe.prep_time}"
      %div.ui-block-b
        = "Cook: #{@recipe.cook_time}"
      %div.ui-block-c
        = "Cals: #{@recipe.single_serving}"

%b Tags:
- @recipe.tags.each do |t|
  = link_to t.name, '', 'data-role' => 'button', 'data-inline' => "true", 'data-mini' => "true"


- fieldcontain do
  %ul{"data-role" => "listview", "data-inset" => "true"}
    %li
      %b Servings:
      = @recipe.servings
    %li
      %b Prep time:
      = @recipe.prep_time
    %li
      %b Cook time:
      = @recipe.cook_time


- fieldcontain do
  %h3 Instructions
  = markdown @recipe.instructions

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li{"data-role" => "list-divider"}
    %b Ingredients
  - @recipe.recipe_ingredients.each do |i|
    %li
      = link_to i.ingredient.name, recipe_edit_recipe_ingredient_path(@recipe, i)
      %label{:class => "ui-li-count"}
        = "#{i.quantity} #{i.measurement_unit}"

  %li{"data-icon" => "plus", "data-theme" => "a"}
    = link_to "Add ingredient", add_ingredient_recipe_path(@recipe)


- content_for :footer do
  %div.ui-grid-a
    %div.ui-block-a
      = "#{@recipe.prep_time + @recipe.cook_time} min"
    %div.ui-block-b
      - @recipe.rating.times do
        &#9733;
