= form_for @ingredient do |f|
  -if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :measurement_unit
    = f.select :measurement_unit, options_for_select(measurement_unit_options, @ingredient.measurement_unit)
  .field
    = f.label 'Calories (per unit)'
    = f.number_field :calories_per_unit
  .field
    = f.label :food_group
    = f.select :food_group, options_for_select(food_group_options, @ingredient.food_group)
  .actions
    = hidden_field_tag :return_url, @request_url.to_s
    = f.submit 'Save', "data-theme" => "b"
