= form_for @ingredient, :url => "/recipes/#{@recipe.id}/ingredients/#{@ingredient.id}" do |f|
  -if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :item
    - unless @ingredient.item
      = f.collection_select :item_id, Food.all, :id, :name
      = link_to "New food", new_food_path
    - else
      %label= @ingredient.item.name

  .field
    = f.label :quantity
    = f.text_field :quantity
  .actions
    = f.submit 'Save'
