- content_for :header do
  = link_to "Back", @ingredients ? ingredients_path : '/', "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @ingredients.blank? ? "Ingredients" : @ingredients.first.andand.food_group.capitalize
  = link_to "New", new_ingredient_path, "data-icon" => "plus", "data-role" =>"button", :class => "ui-btn-right"

%ul{"data-role" => "listview", "data-inset" => "true", "data-filter" => "true"}
  - if @ingredients
    - @ingredients.each do |i|
      %li
        = link_to i.name, ingredient_path(i)

  - else
    %li{"data-role" => "list-divider"}
      %b Choose a food group
    - food_group_options.each do |k,v|
      %li
        = link_to v.capitalize, filter_ingredients_path(:food_group => v)
