%h1 Listing meals

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @meals.each do |meal|
    %tr
      %td= meal.name
      %td= link_to 'Show', meal
      %td= link_to 'Edit', edit_meal_path(meal)
      %td= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Meal', new_meal_path
