%h1
  - if @meal
    = "Add recipes for #{@meal.name}"
  - else
    Listing recipes

%table
  %tr
    %th 
    %th Name
    %th Type
    %th Servings
    %th Total time
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.name
      %td= recipe.recipe_type
      %td= recipe.servings
      %td= recipe.prep_time + recipe.cook_time
      %td
        = button_to "Add", "/meals/#{@meal.id}/add_recipe/#{recipe.id}"

%br

= link_to 'New Recipe', new_recipe_path(:meal_id => @meal.id)
