- content_for :header do
  = link_to "Back", meal_path(@meal), "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = "Add recipe to #{@meal.name}"
  = link_to "New", new_recipe_path, "data-icon" => "plus", "data-role" =>"button", :class => "ui-btn-right"

= form_tag({:controller=>"meals", :action=>"add_recipe", :meal_id => @meal.id}, :method => :post)do
  %div{"data-role" => "controlgroup"}
    - @recipes.each do |r|
      = check_box_tag "recipes[]#{r.name}", r.id
      = label_tag "recipes[]#{r.name}", r.name

  = submit_tag 'Add recipes'
