- content_for :header do
  = link_to "Back", meals_path, "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @meal.name
  = link_to "Edit", edit_meal_path(@meal), "data-icon" => "arrow-r", "data-role" =>"button", :class => "ui-btn-right"

%p#notice= notice

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li
    %b Servings:
    = @meal.servings
    %br/
    %b Calories/Serving:
    = @meal.single_serving

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li{"data-role" => "list-divider"}
    %b Included Recipes
  - @meal.recipes.each do |r|
    %li
      = link_to r.name, meal_recipe_path(@meal, r)
  %li{"data-icon" => "plus", "data-theme" => "a"}
    = link_to "Add recipes", select_recipe_meal_path(@meal)
