= form_for @food do |f|
  -if @food.errors.any?
    #error_explanation
      %h2= "#{pluralize(@food.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @food.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :measurement_unit
    = f.select :measurement_unit, options_for_select(measurement_unit_options, @food.measurement_unit)
  .field
    = f.label :calories
    = f.number_field :calories
    %label per unit
  .field
    = f.label :food_group
    = f.select :food_group, options_for_select(food_group_options, @food.food_group)
  .actions
    = hidden_field_tag :return_url, @request_url.to_s
    = f.submit 'Save', "data-theme" => "b"
