- content_for :header do
  = link_to "Back", "", "data-rel" => "back", "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @foods.blank? ? "Foods" : @foods.first.andand.food_group.capitalize
  = link_to "New", new_food_path, "data-icon" => "plus", "data-role" =>"button", :class => "ui-btn-right"

%ul{"data-role" => "listview", "data-inset" => "true", "data-filter" => "true"}
  - if @foods
    - @foods.each do |f|
      %li
        = link_to f.name, food_path(f)

  - else
    %li{"data-role" => "list-divider"}
      %b Choose a food group
    - food_group_options.each do |k,v|
      %li
        = link_to v.capitalize, filter_foods_path(:food_group => v)
