%p#notice= notice

%p
  %b Name:
  = @food.name
%p
  %b Description:
  = markdown(@food.description)
%p
  %b Measurement unit:
  = @food.measurement_unit
%p
  %b Calories:
  = @food.calories
%p
  %b Food group:
  = @food.food_group

= link_to 'Edit', edit_food_path(@food)
\|
= link_to 'Back', foods_path
