- content_for :header do
  = link_to "Back", "", "data-rel" => "back", "data-icon" => "back", "data-role" =>"button", :class => "ui-btn-left"
  = @food.name
  = link_to "Edit", edit_food_path(@food), "data-icon" => "arrow-r", "data-role" =>"button", :class => "ui-btn-right"

%p#notice= notice

%ul{"data-role" => "listview", "data-inset" => "true"}
  %li
    %p
      %b Name:
      = @food.name
  %li
    %p
      %b Description:
      = markdown(@food.description)
  %li
    %p
      %b Measurement unit:
      = @food.measurement_unit
  %li
    %p
      %b Calories:
      = @food.calories
  %li
    %p
      %b Food group:
      = @food.food_group
